* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 970px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.products .item {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  line-height: 1.6;
  height: 517px;
}

.products .item h3 {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 400;
}
.products .item p {
  margin: 10px 0;
}

.img {
  width: 100%;
  border-radius: inherit;
}

img {
  max-width: 100%;
  border-radius: inherit;
}

button {
  display: block;
  margin: 20px auto;
  background-color: #eee;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s ease-out;
}

button:hover {
  background-color: #ddd;
  padding: 14px 20px;
}

h1 {
  margin: 25px 0;
  font-weight: 400;
  width: fit-content;
  position: relative;
}

h1::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -7px;
  left: 2px;
  transition: 0.3s;
}

h1:hover::after {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header span.btn {
  cursor: pointer;
  background-color: #f8f4f4;
  padding: 8px;
  border-radius: 4px;
}

.popup {
  display: none;
  width: 360px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 87px;
  z-index: 10000;
  background: #fff;
}

.popup.view {
  display: block;
}

ul {
  list-style: none;
}

ul li {
  background-color: #f8f4f4;
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  margin-top: 10px;
  font-weight: 500;
  border-radius: 4px;
}

.prod-name {
  position: relative;
}
.prod-name::after {
  content: "1";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: -30px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#emptyCartMessage {
  text-align: center;
  font-weight: 400;
  margin: 10px 0 20px;
}

.popup div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  border-top: 2px dotted #000;
}
